body{
    margin:0;
    background:#f3f5f7;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:900px;
    margin:auto;
    padding:40px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.search{
    width:100%;
    padding:16px;
    font-size:20px;
    border-radius:10px;
    border:1px solid #ccc;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.word{
    font-size:34px;
    font-weight:bold;
}

.meaning{
    font-size:18px;
    color:#555;
    margin-top:8px;
}

.level{
    color:orange;
    margin-top:10px;
    font-weight:bold;
}